{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}	
<br>
<br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h2 class="text-primary">Datos Generales: </h2>
        <br>
        {% for field in form.informacion_general %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="form-group col">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% else %}
                        {% render_field field class="form-control is-valid" %}
                      {% endif %}
                    {% else %}
                      {% render_field field class="form-control" %}
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                  </div>
            {% if forloop.counter|divisibleby:5 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        <br>
        <h2 class="text-primary">Parámetros: </h2>
        <br>
        {% for field in form.parametros %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% else %}
                        {% render_field field class="form-control is-valid" %}
                      {% endif %}
                    {% else %}
                      {% render_field field class="form-control" %}
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                  </div>
            {% if forloop.counter|divisibleby:5 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        <br>
        <button class="btn btn-success" type="submit" formnovalidate> Guardar</button>
        <a class="btn btn-primary" href="{% url 'espumas:medidas' %}" role="button"> Regresar </a>
    </form>
    <br>
</div>
{% endblock %}