{% extends "base.html" %}
{% block content %}
<h1 class="text-right text-secondary"><b> Medidas </b></h1>
<div class="dropdown show">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tipos De Espuma
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for menuItem in menufront %}
        <a class="dropdown-item"  href="{% url 'espumas:medidas_filtrado' menuItem.id %}"> {{menuItem}}</a>
        {% endfor %}  
    </div>
    <a class="btn btn-success" href="{% url 'espumas:agregar_medidas' %}" role="button"> Agregar Medidas </a>
</div>
<br>
<table class="table table-hover" >
        <thead>
          <tr>
            <th class="text-center"><b> Tipo espuma </b></th>
            <th class="text-center"><b> Medidas Descripcion </b></th>
            <th class="text-center"><b> Familia </b></th>
            <th class="text-center"><b> Forma </b></th>
            <th class="text-center"><b> Tipo de Unidad </b></th>
            <th class="text-center"><b> Editar </b></th>
            <th class="text-center"><b> Borrar </b></th>
            <th class="text-center"><b> Ver Detalles </b></th>
          </tr>
        </thead>
        <tbody>
            {% for item in itemsFront%}
        <tr>
            <td class="text-center">{{ item.tipo_de_espuma }}</td>
            <td class="text-center"><a href="{% url 'espumas:detalle_medidas' item.id %} "> {{ item.descripcion}} </a></td>
            {% if item.familia_de_medidas %}
                <td class="text-center align-middle">   {{ item.familia_de_medidas }} </td>
            {% else %}
                <td class="text-center align-middle" > <font color="red"> X </font> </td>
            {%endif%}
            <td class="text-center">{{ item.forma }}</td>
            <td class="text-center">{{ item.tipo_de_unidad }}</td>
            <td class="text-center"><a class="btn btn-warning" href="{% url 'espumas:editar_medidas' item.id %}" role="button"> editar  </a></td>
            <td class="text-center"><a class="btn btn-danger" href="{% url 'espumas:borrar_medidas' item.id %}" role="button"> Borrar </a></td>
            <td class="text-center"><a class="btn btn-primary" href="{% url 'espumas:detalle_medidas' item.id %}" role="button"> Ver A Detalle </a></td>
                {% endfor %}
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    {% endblock %}