{% extends "base.html" %}
{% block content %}
 
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Descripcion Medida</th>
            <th>ID</th>
            <th>Tipo de Espuma</th>
            <th>No.Bloque</th>
            <th>Lote</th>
            <th>Largo</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Peso</th>
            <th>Disponible</th>
            <th>Baja</th>
            
        </tr>
    </thead>
    <tbody>
        {% for bloque in bloques_disponibles %}
        <tr>
            <td>{{bloque.elemento_corrida.bloqueMedidas}} </td>
            <td>{{bloque.id}} </td>
            <td > <b> {{bloque.elemento_corrida.bloqueMedidas.tipo_de_espuma.tipo_de_espuma}} </b></td>
            <td>{{bloque.no_de_bloque}} </td>
            <td>{{bloque.elemento_corrida.lote.no_de_lote}} </td>
            <td>{{bloque.largo_caliente}} </td>
            <td>{{bloque.ancho_caliente}} </td>
            <td>{{bloque.alto_caliente}} </td>
            <td>{{bloque.peso_caliente}} </td>
            {% if bloque.disponible %}
                <td class="text-center align-middle"> <font color="green">&#10003; </font>   </td>
            {% else %}
                <td class="text-center align-middle" > <font color="red"> X </font> </td>
            {%endif%}
            <td class="text-center"><a class="btn btn-danger" href="{% url 'corrida:bloque_no_disponible' bloque.id %}" role="button"> Dar de baja </a></td>
           <!-- comment -->

        </tr>
       {%endfor%}
    <tfoot>
        <tr>
            <th>Descripcion</th>
            <th>Tipo de Espuma</th>
            <th>Lote</th>
            <th>Largo</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Peso</th>
            <th>Baja</th>
                
        </tr>
    </tfoot>
</table>


{%endblock%}