{% extends "base.html" %}
{% block content %}
<br>
<h1 class="text-Left text-primary"> <b> Resumen de Espumado </b></h1>
<br>
<table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" scope="col">Bloques Totales</th>
            <th class="text-center" scope="col">Bloques Normales</th>
            <th class="text-center" scope="col">Bloques OK</th>
            <th class="text-center" scope="col">Bloque NG</th>
            <th class="text-center" scope="col">Bloques Cambio</th>
            <th class="text-center" scope="col">Densidad Promedio</th>
            <th class="text-center" scope="col">Metros Planeados</th>
            <th class="text-center" scope="col">Metros Producidos</th>
            <th class="text-center" scope="col">Peso Producido</th>
            <th class="text-center" scope="col">Area de Curado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><b> {{resumen.bloques_totales}} </b></td>
            <td class="text-center">{{resumen.bloques_normales}}</td>
            <td class="text-center">{{resumen.bloques_ok}}</td>
            <td class="text-center">{{resumen.bloques_ng}}</td>
            <td class="text-center">{{resumen.bloques_cambio}}</td>
            <td class="text-center">{{resumen.densidad_promedio|floatformat:2 }} kg/m<sup>3</sup></td>
            <td class="text-center">{{resumen.metros_planeados}} m</td>
            <td class="text-center">{{resumen.metros_producidos}} m</td>
            <td class="text-center">{{resumen.peso_producido}} kg</td>
            <td class="text-center">{{corrida.area_de_curado}} m<sup>2</sup></td>
          </tr>
        </tbody>
</table>
<br>
<h1 class="text-Left text-primary"> <b> Resumen por Tipo de Espuma </b></h1>
<br>
{% for resumen_tde in resumenes_por_tde %}
  <!-- <h3 class="text-info">{{resumen_tde.tde}}</h3> -->
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center" scope="col">Tipo de Espuma</th>
          <th class="text-center" scope="col">Bloques normales</th>
          <th class="text-center" scope="col">Bloques OK</th>
          <th class="text-center" scope="col">Bloques NG</th>
          <th class="text-center" scope="col">% de bloques NG</th>
          <th class="text-center" scope="col">Densidad promedio</th>
          <th class="text-center" scope="col">Metros planeados</th>
          <th class="text-center" scope="col">Metros producidos</th>
          <th class="text-center" scope="col">Metros NG</th>
          <th class="text-center" scope="col">Peso producido</th>
          <th class="text-center" scope="col">Area de Curado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center text-info"><b> {{resumen_tde.tde}}</b> </td>
          <td class="text-center">{{resumen_tde.normales_count}}</td>
          <td class="text-center">{{resumen_tde.ok_count}}</td>
          <td class="text-center">{{resumen_tde.ng_count}}</td>
          <td class="text-center">{{resumen_tde.porcentaje_ng|floatformat:2}} %</td>
          <td class="text-center">{{resumen_tde.densidad_promedio|floatformat:2 }} kg/m<sup>3</sup> </td>
          <td class="text-center">{{resumen_tde.metros_planeados}} m</td>
          <td class="text-center">{{resumen_tde.metros_producidos}} m</td>
          <td class="text-center">{{resumen_tde.metros_ng}}m</td>
          <td class="text-center">{{resumen_tde.peso_produdido}} kg</td>
          <td class="text-center">{{resumen_tde.area_de_curado|floatformat:2}} m<sup>2</sup></td>
        </tr>
      </tbody>
    </table>
{% endfor %}

<br>
<h1 class="text-Left text-primary"> <b> Bloques Producidos </b></h1>
<br>
<table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center"> # </th>
            <th class="text-center"> TDE </th>
            <th class="text-center"> Unidad </th>
            <th class="text-center"> Largo </th>
            <th class="text-center"> Ancho </th>
            <th class="text-center"> Alto </th>
            <th class="text-center"> F.Aire </th>
            <th class="text-center"> Peso </th>
            <th class="text-center"> OK </th>
            <th class="text-center"> Observacion </th>
            <th class="text-center"> Densidad </th>
            <th class="text-center"> Comentario </th>
          </tr>
        </thead>
        <tbody>
          <tr>
        {%for bloque_producido  in bloques_producidos %}
            <td class="text-center" >{{bloque_producido.no_de_bloque}}</td>
            <td class="text-center" >{{bloque_producido.elemento_corrida.bloqueMedidas.tipo_de_espuma}}</td>
            <td class="text-center" >{{bloque_producido.elemento_corrida.bloqueMedidas.tipo_de_unidad}}</td>
            <td class="text-center">
              <span class="{{bloque_producido.largo_caliente_class}}">
                {{bloque_producido.largo_caliente}}
              </span>
            </td>
            <td class="text-center">
              <span class="{{bloque_producido.ancho_caliente_class}}">
                {{bloque_producido.ancho_caliente}}
              </span>
            </td>
            <td class="text-center">
              <span class="{{bloque_producido.alto_caliente_class}}">
                {{bloque_producido.alto_caliente}}
              </span>
            </td>
            <td class="text-center" >{{bloque_producido.flujo_de_aire_caliente}}</td>
            <td class="text-center" >{{bloque_producido.peso_caliente}}</td>
            {% if bloque_producido.revision_calidad == True %}
              <td>   </td>
            {% else %}
              <td class="text-center" > <font color="red"> X </font> </td>
            {%endif%}
            <td class="text-center" > <b> {{bloque_producido.get_defecto_display}} </b> </td>
            <td class="text-center">
              <span class="{{bloque_producido.densidad_class}}">
                {{bloque_producido.densidad}}
              </span>
            </td>
            <td class="text-center" >{{bloque_producido.comentario}}</td>
          </tr>
          
          {%endfor%} 
        </tbody>
      </table>


   
{% endblock%}