{% extends "base.html" %}

{% block content %}

<h3 class="text-secondary text-right"><b>Corridas producidas</b></h3>
<br>    

<!-- Paginación -->
<div class="pagination justify-content-center">
  {% if corridas_producidas.has_previous %}
      <a class="btn btn-light" href="?page=1">Primera</a>
      <a class="btn btn-light" href="?page={{ corridas_producidas.previous_page_number }}">Anterior</a>
  {% endif %}

  <span class="btn btn-light disabled">Página {{ corridas_producidas.number }} de {{ corridas_producidas.paginator.num_pages }}.</span>

  {% if corridas_producidas.has_next %}
      <a class="btn btn-light" href="?page={{ corridas_producidas.next_page_number }}">Siguiente</a>
      <a class="btn btn-light" href="?page={{ corridas_producidas.paginator.num_pages }}">Última</a>
  {% endif %}
</div>
<br>

<div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-info text-center align-middle">Numero De Corrida</th>
                <th class="text-secondary text-center align-middle"> Forma </th>
                <th class="text-secondary text-center align-middle"> Cedis </th>
                <th class="text-success text-center align-middle">Fecha de Producida</th>
                <th class="text-primary text-center align-middle">Fecha a Programada</th>
                <th class="text-info text-center align-middle">Número de Lote</th>
            </tr>
        </thead>
        <tbody>
            {% for corrida_producida in corridas_producidas %}
            <tr>
                <td class="text-center align-middle"><a href="{% url 'corrida:corrida_producida' corrida_producida.id %} ">{{ corrida_producida.id }}</a></td>
                <td class="text-center align-middle">{{ corrida_producida.elementocorrida_set.first.bloqueMedidas.forma }}</td>
                <td class="text-center align-middle">{{ corrida_producida.cedis }}</td>
                <td class="text-center align-middle">{{ corrida_producida.created.date }}</td>
                <td class="text-center align-middle">{{ corrida_producida.fecha_programada.date }}</td>
                <td class="text-center align-middle">{{ corrida_producida.elementocorrida_set.first.lote.no_de_lote }}</td>
                
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
<br>

<!-- Paginación -->
<div class="pagination justify-content-center">
  {% if corridas_producidas.has_previous %}
      <a class="btn btn-light" href="?page=1">Primera</a>
      <a class="btn btn-light" href="?page={{ corridas_producidas.previous_page_number }}">Anterior</a>
  {% endif %}

  <span class="btn btn-light disabled">Página {{ corridas_producidas.number }} de {{ corridas_producidas.paginator.num_pages }}.</span>

  {% if corridas_producidas.has_next %}
      <a class="btn btn-light" href="?page={{ corridas_producidas.next_page_number }}">Siguiente</a>
      <a class="btn btn-light" href="?page={{ corridas_producidas.paginator.num_pages }}">Última</a>
  {% endif %}
</div>
<br>

{% endblock %}
