{% extends "base.html" %}
{% block content %}

<h3 class="text-secondary text-right" > <b>Corridas producidas </b>  </h3> 
<br>    
<div class="container">
    <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th class="text-info text-center align-middle" > Numero De Corrida </th>
                <th class="text-success text-center align-middle" > Fecha de Producida </th>
                <th class="text-primary text-center align-middle" > Fecha a Programada </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for corrida_producida in corridas_producidas %}
                <td class="text-center align-middle"><a href="{% url 'corrida:corrida_producida' corrida_producida.id %} "> {{corrida_producida.id}} </a></td>
                <td class="text-center align-middle" >{{corrida_producida.created.date}}</td>
                <td class="text-center align-middle" >{{corrida_producida.fecha_programada.date}}</td>
              </tr>
              {%endfor%} 
            </tbody>
          </table>
</div>


{%endblock%}