{% extends "base.html" %}
{% block content %}
 
<meta http-equiv="refresh" content="20">

<!--  Row Master-->
<div class="row">
        <!-- COL Elementos -->
    <div class="col-10 offset-1" >
        <br>
        <h1 class="text-center text-primary"><b> Dashboard de Corridas en Producción </b></h1>
        <br>   
        {% if not corridas_en_produccion%}
        <!-- Si no hay corridas produciendose -->
        <div>
            <div class="text-center">
                <br>
                <h2 class="text-center my_title">
                    No hay ordenes produciendose actualmente.
                </h2>
                <br>
            </div>
        </div>
        {% else %}
            {% for corrida in corridas_en_produccion %}
            <br>
            <br>
            <div class="text-right mb-3">
                    <h4 class="text-left text-info"><b> <a href="{% url 'corrida:monitoreo' corrida.id %} "> Corrida: {{ corrida.id }}   </a> </b></h4> 
                    <a class="btn btn-primary" href="{% url 'corrida:monitoreo' corrida.id %}" role="button"> Ver A Detalle  &raquo;</a>
            </div>
            <table class="table table-hover table-sm" >
                <thead >
                    <tr>
                        <th class="text-center"> Tipo de espuma</th>
                        <th class="text-center"> Descripcion </th>
                        <th class="text-center"> Tipo de unidad </th>
                        <th class="text-center"> Cantidad </th>
                    </tr>
                </thead>
                <tbody>
                    {% for elementoCorrida in corrida.elementocorrida_set.all %}
                    <tr>
                        <td class="text-center" >{{ elementoCorrida.bloqueMedidas.tipo_de_espuma.tipo_de_espuma }}</td>
                        <td class="text-center" >{{ elementoCorrida.bloqueMedidas.descripcion }}</td>
                        <td class="text-center" >{{ elementoCorrida.bloqueMedidas.tipo_de_unidad.tipo_de_unidad }}</td>
                        <td class="text-center" >{{ elementoCorrida.bloques_producidos }}/{{ elementoCorrida.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
            <hr class="style7">
            <br>
        {% endif %}
    </div>
</div>

{%endblock%}