{% extends "base.html" %}
{% block content %}
 
<br>
<br>
<h1 class="text-center text-secondary"> <b>  Inventario </b></h1>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 ">
    {% for tipo_con_medidas in tipos_con_medidas %} 
<br>
    <h3 class="text-left text-info">Bloques disponibles para el TDE: <span class="badge badge-primary badge-pill">{{tipo_con_medidas.tipo_de_espuma}} </span> </h3>
    <table class="table table-striped table-sm" style="padding: 5rem">
            <thead>
            <tr>
                <th class="text-center"> Medidas</th>
                <th class="text-center"> Bloques Disponibles</th>
            </tr>
            </thead>
            <tbody>
                {% for medida_con_count in tipo_con_medidas.medidas_con_count %}
                <tr>
                   <td class="text-center"> {{medida_con_count.medida.descripcion}} </td>
                    <td class="text-center"> <b> {{medida_con_count.bloques_producidos_count}}</b> </td>   
                </tr> 
                    {% endfor %}
            </tbody>
    </table>

    {% endfor %}
        </div>
    </div>  
</div>

{%endblock%}