{% extends "base.html" %}

{% block content %}

<h1 class="text-left text-info">Lotes Pendientes</h1>
<br>
<h3 class="text-left text-secondary">Seleciona una opción: </h3>    



<table class="table table-sm">
    <!-- ... (contenido de la tabla) ... -->
</table>

<div class="button-group">
    <a class="btn btn-primary mr-2" href="{% url 'corrida:lotes_pendientes' %}">Lotes pendientes</a>
    <a class="btn btn-success mr-2" href="{% url 'corrida:lotes_aprobados' %}">Lotes Aprobados</a>
    <a class="btn btn-danger mr-2" href="{% url 'corrida:lotes_rechazados' %}">Lotes Rechazados</a>
</div>
<br>
{% if not lotes_pendientes %}
    <div class="alert alert-info" role="alert">
        No hay lotes pendientes en este momento.
    </div>
{% else %}
    <!-- Paginación -->
    <div class="pagination justify-content-center">
        {% if lotes_pendientes.has_previous %}
            <a class="btn btn-light mx-1" href="?page=1">Primero</a>
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="btn btn-light mx-1">Página {{ lotes_pendientes.number }} de {{ lotes_pendientes.paginator.num_pages }}.</span>

        {% if lotes_pendientes.has_next %}
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.next_page_number }}">Siguiente</a>
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.paginator.num_pages }}">Último</a>
        {% endif %}
    </div>
    <br>

    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-center">No. de Lote</th>
                <th class="text-center">Densidad</th>
                <th class="text-center">Dureza</th>
                <th class="text-center">Flujo de aire</th>
                <th class="text-center">SAG Factor</th>             
                <th class="text-center">Aprobar</th>
                <th class="text-center">Guardar Linea Selecionada</th>
            </tr>
        </thead>
        <tbody>
            {% for lote in lotes_pendientes %}
                <form action="{% url 'corrida:aprobar_lote' lote.id %}" method="POST">
                {% csrf_token %}
                <tr>
                    <td class="text-left">{{ lote.no_de_lote }}</td>
                    <td class="text-center">
                        <input type="text" size="5" id="densidad_capturada" name="densidad_capturada" value="{{ lote.densidad_capturada }}">
                    </td>
                    <td class="text-center">
                        <input type="text" size="5" id="dureza_capturada" name="dureza_capturada" value="{{ lote.dureza_capturada }}">
                    </td>
                    <td class="text-center">
                        <input type="text" size="5" id="flujo_de_aire_astm_capturado" name="flujo_de_aire_astm_capturado" value="{{ lote.flujo_de_aire_astm_capturado }}">
                    </td>
                    <td class="text-center">
                        <input type="text" size="5" id="sag_factor_capturado" name="sag_factor_capturado" value="{{ lote.sag_factor_capturado }}">
                    </td>                   
                    
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox" name="pruebas_pasadas" id="pruebas_pasadas" {% if lote.pruebas_pasadas %}checked{% endif %}>
                    </td>
                    <td class="text-center">
                        <input type="submit" class="btn btn-success" role="button" value="Guardar Cambios">
                    </td>
                </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div class="pagination justify-content-center">
        {% if lotes_pendientes.has_previous %}
            <a class="btn btn-light mx-1" href="?page=1">Primero</a>
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="btn btn-light mx-1">Página {{ lotes_pendientes.number }} de {{ lotes_pendientes.paginator.num_pages }}.</span>

        {% if lotes_pendientes.has_next %}
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.next_page_number }}">Siguiente</a>
            <a class="btn btn-light mx-1" href="?page={{ lotes_pendientes.paginator.num_pages }}">Último</a>
        {% endif %}
    </div>
    <br>

{% endif %}

{% endblock %}
