{% extends "base.html" %}
{% block content %}



<h1 class="text-left  text-info" >Lotes Pendientes</h1>
<br>
<table class="table table-sm" >
    <thead>
        <tr>
            <th class="text-center" > No. de Lote</th>
            <th class="text-center" > Dureza </th>
            <th class="text-center" > SAG Factor</th>
            <th class="text-center" > Densidad </th>
            <th class="text-center" > Flujo de aire </th>
            <th class="text-center" > Aprobar </th>
            <th class="text-center" ></th>
        </tr>
    </thead>
    <tbody>
        {% for lote in lotes_pendientes %}
            <form action="{% url 'corrida:aprobar_lote' lote.id %}" method="POST">
            {% csrf_token %}
            <tr>
                <td class="text-center" >
                    {{lote.no_de_lote}}
                </td>
                <td class="text-center" >
                    <input type="text"  size="5" id="dureza_capturada" name="dureza_capturada" value="{{ lote.dureza_capturada }}">
                </td>
                <td class="text-center" >
                    <input type="text"  size="5" id="sag_factor_capturado" name="sag_factor_capturado" value="{{ lote.sag_factor_capturado }}">
                </td>
                <td class="text-center" >
                    <input type="text"  size="5" id="densidad_capturada" name="densidad_capturada" value="{{ lote.densidad_capturada }}">
                </td>
                <td class="text-center" >
                    <input type="text"  size="5" id="flujo_de_aire_astm_capturado" name="flujo_de_aire_astm_capturado" value="{{ lote.flujo_de_aire_astm_capturado }}">
                </td>
                <td class="text-center" >
                    <input class="form-check-input" type="checkbox" name="pruebas_pasadas" id="pruebas_pasadas" value="{{lote.pruebas_pasadas}}">
                </td>
                <td class="text-center" >
                    <input type="submit" class="btn btn-success" role="button" value="Guardar Cambios">
                </td>
            </tr>
            </form>
        {% endfor %}
    </tbody>
</table>
<hr class="style4">
<br>
<h1 class="text-left  text-info" >Lotes Aprobados</h1>
<br>
<table class="table table-sm" >
    <thead>
        <tr>
            <th class="text-center" > No. de Lote</th>
            <th class="text-center" > Dureza </th>
            <th class="text-center" > SAG Factor</th>
            <th class="text-center" > Densidad </th>
            <th class="text-center" > Flujo de aire </th>
            <th class="text-center" ></th>
        </tr>
    </thead>
    <tbody>
        {% for lote in lotes_aprobados %}
            <form action="{% url 'corrida:aprobar_lote' lote.id %}" method="POST">
            {% csrf_token %}
            <tr>
                <td class="text-center" >{{lote.no_de_lote}}</td>
                <td class="text-center" >{{lote.dureza_capturada}}</td>
                <td class="text-center" >{{lote.sag_factor_capturado}}</td>
                <td class="text-center" >{{lote.densidad_capturada}}</td>
                <td class="text-center" >{{lote.flujo_de_aire_astm_capturado}}</td>
            </tr>
            </form>
        {% endfor %}
    </tbody>
</table>
<h1 class="text-left  text-info" > Lotes Rechazados</h1>
<br>
<table class="table table-sm" >
    <thead>
        <tr>
            <th class="text-center" > No. de Lote</th>
            <th class="text-center" > Dureza </th>
            <th class="text-center" > SAG Factor</th>
            <th class="text-center" > Densidad </th>
            <th class="text-center" > Flujo de aire </th>
            <th class="text-center" ></th>
        </tr>
    </thead>
    <tbody>
        {% for lote in lotes_rechazados %}
            <form action="{% url 'corrida:aprobar_lote' lote.id %}" method="POST">
            {% csrf_token %}
            <tr>
                <td class="text-center" >{{lote.no_de_lote}}</td>
                <td class="text-center" >{{lote.dureza_capturada}}</td>
                <td class="text-center" >{{lote.sag_factor_capturado}}</td>
                <td class="text-center" >{{lote.densidad_capturada}}</td>
                <td class="text-center" >{{lote.flujo_de_aire_astm_capturado}}</td>
            </tr>
            </form>
        {% endfor %}
    </tbody>
</table>
   
{%endblock%}