{% extends "base.html" %}

{% block content %}

<h1 class="text-left text-info">Lotes </h1>
<h3 class="text-left text-secondary">Seleciona una opción: </h3>    



<table class="table table-sm">
    <!-- ... (contenido de la tabla) ... -->
</table>

<div class="button-group">
    <a class="btn btn-primary mr-2" href="{% url 'corrida:lotes_pendientes' %}">Lotes pendientes</a>
    <a class="btn btn-success mr-2" href="{% url 'corrida:lotes_aprobados' %}">Lotes Aprobados</a>
    <a class="btn btn-danger mr-2" href="{% url 'corrida:lotes_rechazados' %}">Lotes Rechazados</a>
</div>
<br>
<br>
<br>

{% endblock %}
